<p id="notice"><%= notice %></p>

<h1>Academies</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Location</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @academies.each do |academy| %>
      <tr>
        <td><%= academy.name %></td>
        <td><%= academy.location %></td>
        <td><%= link_to 'Show', academy %></td>
        <td><%= link_to 'Edit', edit_academy_path(academy) %></td>
        <td><%= link_to 'Destroy', academy, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Academy', new_academy_path %>
