<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @actor.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @actor.last_name %>
</p>

<p>
  <strong>Age:</strong>
  <%= @actor.age %>
</p>

<p>
  <strong>Description:</strong>
  <%= @actor.description %>
</p>

<p>
  <strong>Academy Name:</strong>
  <%= @actor.academy.name %>
</p>
<p>
  <strong>Academy Location:</strong>
  <%= @actor.academy.location %>
</p>

<p>

    <% @awards.each do |award| %>
     <% if @actor.id == award.actor_id%>
      <tr>
        <td><%= award.name %></td>
        <td><%= award.category %></td>
        <td><%= award.year %></td>
      </tr>
    <% end %>
   <% end %>

<%= link_to 'Edit', edit_actor_path(@actor) %> |
<%= link_to 'Back', actors_path %>
